@(msg:String,us:User,items:List[Recommendation],pesos:List[Double])
@import play.api.libs.json.Json

@main(msg,"Hybrid Recommender",us) {


  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <h1 class="text-center center-block">Las películas para tí</h1>
    <form id="searchForm" method="GET" action="/search">
		<p align="center">Desde: <input type="text" name="datefield" id="datepicker">
        <input type="hidden" name="user_id" value="@if(us!=null){@us.user_id}" />
    <button id="btn_search" type="submit">Recomendar</button></p>
    <section id="categories_section">

    </section>
    <br/>

        </form>


    <div id="model_preferences" class="text-center">
        <h4>¿Aún no? refina tus preferencias:</h4>
        <form id="form_update_prefs" method="post" action="/updatePrefs">
            <div id="preferences_list">
                <label for="director">Director: </label><input type="range" name="director" id="director" min="0" max="100" value="@pesos(0)"/><br/>
                <label for="gender">Gender: </label><input type="range" name="gender" id="gender" min="0" max="100" value="@pesos(1)"/><br/>
                <label for="subject">Subject: </label><input type="range" name="subject" id="subject" min="0" max="100" value="@pesos(2)"/><br/>
                <label for="starring">Starring: </label><input type="range" name="starring" id="starring" min="0" max="100" value="@pesos(3)"/><br/>

            </div>

            <input type="submit" id="btn_update_prefs" value="Actualizar preferencias"/>
        </form>
    </div>
    <div id="results">
        <table class="table center-simple">
            <thead>
                <tr>
                    <th>Película</th>
                    <th>Estimación</th>
                    <th>Ver más</th>
                </tr>
            </thead>
            <tbody id = "recommendlist">

                @for( r <- items) {
                    <tr>
                        <td>@r.movie.title</td>
                        <td>@r.estimatedRating</td>
                        <td><a target="_blank" href="/movie/@r.getMovie().id">+</a></td>
                    </tr>
                }
            </tbody>
            </table>
    </div>
    <br/>

<script>
	
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
    <script type="text/javascript">
	
    function split(val) {
    return val.split(/,\s*/);
    }

    function extractLast(term) {
    return split(term).pop();
    }

    </script>


}
