@(msg:String,us:User,items:List[Recommendation])
@import play.api.libs.json.Json

@main(msg,"Hybrid Recommender",us) {


    <h1 class="text-center center-block">Las películas para tí</h1>
    <form id="searchForm" method="GET" action="/search">
        <input type="hidden" name="user_id" value="@if(us!=null){@us.user_id}" />
    <section id="categories_section">

    </section>
    <br/>

    <div id="model_preferences" class="text-center">
        <h4>¿Aún no? refina tus preferencias:</h4>
        <div id="preferences_list">
            <!-- TODO coeficientes editables de género, director, productor, etc...-->
        </div>
    </div>

        </form>
    <div id="results">
        <table class="table center-simple">
            <thead>
                <tr>
                    <th>Película</th>
                    <th>Estimación</th>
                    <th>Ver más</th>
                </tr>
            </thead>
            <tbody id = "recommendlist">

                @for( r <- items) {
                    <tr>
                        <td>@r.movie.title</td>
                        <td>@r.estimatedRating</td>
                        <td><a target="_blank" href="/movie/@r.getMovie().id">+</a></td>
                    </tr>
                }
            </tbody>
            </table>
    </div>
    <br/>


    <script type="text/javascript">

    function split(val) {
    return val.split(/,\s*/);
    }

    function extractLast(term) {
    return split(term).pop();
    }

    </script>


}
